@tailwind base;
@tailwind utilities;
@tailwind components;


[data-collapsible="true"].bg-white + [data-collapsible="true"].bg-white {
  @apply pt-0 md:pt-0;
}
@layer utilities {
  .bg-black {
    @apply bg-black;
  }
}



.bgblack{
  background-color: black;
  
}
.bgwhite{
  background-color: white;
}
.textblack{
  color: black;
}
.textwhite{
  color: white;
}

.fillScreen{
  height: 100vh;
  height: -webkit-fill-available;
}





/** ------- React Video object cover -------- */

.plyr {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.player-wrapper {
  position: relative;
  overflow: hidden;
  /* width: 100vw;
  height: 100vh; */
}

.player-wrapper .plyr {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw !important;
  height: 56.25vw !important;
  /* Given the 16:9 aspect ratio: 100 * 9 / 16 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* Given the 16:9 aspect ratio: 100 * 16 / 9 = 177.77 */
  transform: translate(-50%, -50%);
}
.player-wrapper > div {
  position: absolute;
  top: 0;
  left: 0;
} 

@media only screen and (max-width: 600px) {

  .player-wrapper .plyr {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw !important;
 height: -webkit-fill-available;
  /* Given the 16:9 aspect ratio: 100 * 9 / 16 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* Given the 16:9 aspect ratio: 100 * 16 / 9 = 177.77 */
  transform: translate(-50%, -50%);
}
}

/** Disable Scroll when mobile menu is open */
.disable-scroll {
    overflow: hidden;
    height: 100%; /* Optional based on your design */
}