@tailwind base;
@tailwind utilities;
@tailwind components;


[data-collapsible="true"].bg-white + [data-collapsible="true"].bg-white {
  @apply pt-0 md:pt-0;
}
@layer utilities {
  .bg-black {
    @apply bg-black;
  }
}

p, a{
  font-family: 'Zen Kaku Gothic New', sans-serif;
}

.dashBorder {
background-image: repeating-linear-gradient(-11deg, #333333, #333333 10px, transparent 10px, transparent 31px, #333333 31px), repeating-linear-gradient(79deg, #333333, #333333 10px, transparent 10px, transparent 31px, #333333 31px), repeating-linear-gradient(169deg, #333333, #333333 10px, transparent 10px, transparent 31px, #333333 31px), repeating-linear-gradient(259deg, #333333, #333333 10px, transparent 10px, transparent 31px, #333333 31px);
background-size: 2px 100%, 100% 2px, 2px 100% , 100% 2px;
background-position: 0 0, 0 0, 100% 0, 0 100%;
background-repeat: no-repeat;
}

.bgblack{
  background-color: black;
  
}
.bgwhite{
  background-color: white;
}
.textblack{
  color: black;
}
.textwhite{
  color: white;
}





/* ---------- */

.leftDiv {
 /* make sure it stays put so we can see it! */

  animation: rotate 1s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

@keyframes rotate {
  from{
    width: 100%;
  }
  to {
    width: 0%;
  }
}